body {
    background-color: #FFFCF7;
}

.container{
    /* margin:0 auto;   */
    margin:0 auto;
    width: 1320px;
}

.row{
    margin: 20px auto 80px auto;
    width: 1320px;
    height: 290px;
}

#photo_div{
    margin: 30px;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}

#user_img {   
    width: 250px;
    border-radius: 50%;
}

#introduction{
    width:800px;
    height:auto;
    margin: 40px auto 20px 40px;
}

.green_p{
    margin: 0px 5px 5px 0;
    font-size: 24px;
    color: #fff !important;
    background-color: #4CAF50 !important;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    background-color: inherit;
    text-align: center;
    /* cursor: pointer; */
    white-space: nowrap;
}    

#github{
    width:800px;
    height:30px;     
}

#git_img{
    width:30px;
    height:30px;
}

#gmail{
    width:800px;
    height:30px;    
}

#email_img{
    width:30px;
    height:20px;    
}

.a1{
    display:inline;
    text-align:right;
}

.p3{
    display:inline;
    text-align:left; 
}

#skills_div{
    height:90px;
    weight:auto;
    margin: 30px auto 0px auto;
}

#header{
    margin: 0px 5px 5px 0;
    font-size: 30px;
    color: #fff !important;
    background-color: #4CAF50 !important;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    background-color: inherit;
    text-align: center;
    /* cursor: pointer; */
    white-space: nowrap;
}   

.skill{
    font-size: 32px;
}

ol{
    font-size: 24px;
}

#Projects{
    margin: 60px auto 30px auto;
    width: auto;
    height: auto;
}

#project-1-text-div{
    width: auto;
    height: auto;
}

#project-1-imgs-div{
    width: auto;
    height: auto;
}

.text-title{
    margin: 10px 60px 0px auto;
    padding-bottom: 5px; 
    color: #111; 
    letter-spacing: -1px; 
    line-height: 1em; 
    font-weight: bold; 
}
.project-p{
    margin: 30px 60px 0px auto;
    font-size: 20px;
}

#img-AI-1{
    margin: 10px auto 0px auto;
    width:620px;
    height:180px;
}
#img-AI-2{
    margin: 20px auto 0px auto;
    width: 540px;
    height:350px;
}
#img-AI-3{
    margin: 30px auto 60px auto;
    width: 650px;
    height:350px;
}

.carousel-item {
    height:40rem;
  }
.carousel-item > img {
  align-self: center;
  margin:0px 80px 0px 80px;
  width: 480px;
  height:auto;
  height: 32rem;
}


/* .carousel-control-prev{
    margin:0px 0px 0px 0px;
}
.carousel-control-next{
    margin:0px auto 0px 0px;
}
.carousel-control-prev-icon{
    color: red;
    background-image: none;
}
.carousel-control-next-icon{
    color: red;
    background-image: none;
} */
.visually-hidden{
    font-size: 32px;
    color: red;
}
